setuptools>=75.2.0
wheel>=0.44.0

# Core requirements
numpy==1.26.0  # Compatible with pandas 2.2.2
pandas==2.2.2
matplotlib==3.9.2
seaborn==0.13.2
geopandas==1.0.1
folium==0.17.0
plotly==5.23.0
streamlit==1.39.0
statsmodels==0.14.2
pmdarima==2.0.4
prophet==1.1.6
scikit-learn==1.5.1
streamlit-folium

# Apache Airflow and Flask
apache-airflow==2.9.2
Flask==2.2.5  # Ensure compatibility with Apache Airflow

# Additional requirements
torch==2.2.2
tensorflow==2.16.2
transformers==4.44.2
spacy==3.7.6

# Corrected spaCy model URLs
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
fr_core_news_sm @ https://github.com/explosion/spacy-models/releases/download/fr_core_news_sm-3.7.0/fr_core_news_sm-3.7.0-py3-none-any.whl

# Update the onnxruntime version to a compatible one for Python 3.12
onnxruntime==1.19.0  # You can also try newer versions like 1.19.2 if necessary


# Update pulsar-client version to 3.4.0 or 3.5.0 as 3.3.0 is not available
pulsar-client==3.5.0  # Choose the latest available version


